{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'funds/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'funds/media.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
        rel="stylesheet">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/14007/14007314.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Mission Camp 2025</title>
</head>

<body>
    {% include 'funds/header.html' %}
    <main class="d-flex">
        <div class="w-100" id="cont_funds">
            <section class="mt-5 m-3">
                <h2 class="uppercase center mb-3 red bold">Progression de notre objectif</h2>
                <p class="center" id="descriptionBar"></p>
                <div class="progress hg-22" id="progressbarCont">
                    <div class="progress-bar bg-red" id="progressbarMoney" role="progressbar" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <section class="d-flex center j-c-around">
                    <div>
                        <h4 class="bold">TOTAL RECOLTE</h2>
                            <p class="money red" id="total-collected"></p>
                    </div>
                    <div>
                        <h4 class="bold">OBJECTIF FINAL</h2>
                            <p class="money red" id="total-goal"></p>
                    </div>
                </section>
            </section>
            <section class="m-3">
                <h2 class="uppercase center mb-4 red bold text-underlined">Liste des Extrajobs</h2>
                <div id="table-wrapper">
                    <div id="table-scroll">
                        <table class="table table-hover" id="data_extrajobs">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="bg-red c-white">Date</th>
                                    <th scope="col" class="bg-red c-white">Description</th>
                                    <th scope="col" class="bg-red c-white">Nbr. de personne</th>
                                    <th scope="col" class="bg-red c-white">Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Data will be insert with a json file -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
        <div class="center" id="cont_infos">
            <h2 class="uppercase center mb-4 red bold zone_info_border">Zone d'informations</h2>
            <div class="scrollable-div">
                <div>
                    <img src="https://st5.depositphotos.com/3369547/65830/v/450/depositphotos_658304136-stock-illustration-adventure-nature-camping-icon-isolated.jpg"
                        alt="Image d'une tente" class="w-50">
                    <h1 class="red">PIONNIERS CARAVELLES</h1>
                    <section class="px-5">
                        <h2 class="text-uppercase bold">Objectif</h2>
                        <p>Notre objectif est de récolter 5000€ pour financer notre camp d'été 2025. Nous avons besoin
                            de votre aide pour réaliser ce projet qui nous tient à coeur.</p>
                    </section>
                </div>
                {% include 'funds/Info.html' %}
                <div class="d-flex flex-column">
                    <img src="https://centresociallaissac.wordpress.com/wp-content/uploads/2021/02/logo_releve-le-defi-1.png"
                        alt="DEFI" class="w-50 m-auto">
                    <button type="button" class="btn btn-outline-danger mb-2 mx-4">A 500€ : RACLETTE PARTY</button>
                    <button type="button" class="btn btn-outline-danger mb-2 mx-4" disabled>Défi 2 : Désactiver</button>
                    <button type="button" class="btn btn-outline-danger mb-2 mx-4" disabled>Défi 3 : Désactiver</button>
                    <button type="button" class="btn btn-outline-danger mb-2 mx-4" disabled>Défi 4 : Désactiver</button>
                </div>

            </div>
        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'funds/js/progressbar.js' %}"></script>
</body>

</html>